@page "/"
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<button @onclick="NavigateToLogin">Go to Login</button>
<h1>Hello, world!</h1>

@code {

    public void NavigateToLogin()
    {
        Nav.NavigateTo("/login");
    }

}
