@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView>
                        <div role="alert">You are not authorized to access this page.</div>
                        <br/>
                        <div>Please log in.</div>
                        <br/>
                        <div>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/login">
                                Go to Login
                            </MudButton>
                        </div>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider/>
<MudPopoverProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>